



.list-container {
    display: flex;
    justify-content: space-around;

    h3 {
        color: var(--light-grey) !important;
        text-align: left;
        margin: 0;
        font-size: 1em;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;

        li {
            list-style: none;
            text-align: left;
        }

        li:hover {
            cursor: pointer;
            opacity: 0.2;
        }
    }
}

