


.loading {
    background: linear-gradient(90deg, var(--easy-white), var(--light-grey), var(--easy-white));
    height: 400px;
    background-size: 300%;
    animation: pulsating 3.5s infinite;

    h2 {
        background-color: transparent;
    }
}


@keyframes pulsating {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        text-align: left;
    }
}

section {
    margin: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-divider {
    background-color: var(--light-blue);
    margin: 0 !important;
    height: 400px;

    display: flex;
    align-items: flex-end;

    img {
        object-fit: fill;
        height: 100%;
    }
}

.section-women-men {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;

    > div {
        width: 50%;
        display: flex;
        height: 100%;
        padding: 2rem 0 2rem 1rem;
    }

    > div:first-child {
        background-color: var(--dark-blue);
    }

    > div:last-child {
        background-color: var(--light-blue);
    }
}


.product-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}