





.product-card {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        object-fit: contain;
        width: 100%;
    }
}



.product-text {

    display: flex;
    flex-direction: column;
    > * {
        width: fit-content;
        margin: 0;
        text-wrap: nowrap;
    }
}