



.main-product-page {
    display: flex;
    flex-direction: row;
    padding: 0 10rem;
    gap: 3rem;
    justify-content: space-between;

    margin: 3rem 0 10rem 0;
    padding-left: 0;
}



p {
    text-align: left;
    margin: 0;
}


.product-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2rem;


    button {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 2rem;
        width: 100%;
        background-color: var(--default-black);
        color: var(--easy-white);

        p {
            color: var(--easy-white);
        }
    }

    button:hover {
        cursor: pointer;
    }


}


.product-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 15rem;
}


.star-container {
    display: flex;
    gap: 0.5rem;
}


.product-image-container {


}


.product-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.product-details-header:hover {
    cursor: pointer;
}


.sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    padding: 0;
    margin: 0;

    > div {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        label {
            color: var(--color-secondary);
        }

        li {
            cursor: pointer;
        }
    }
}

.sub-menu.show {
    grid-template-rows: 1fr;
}