:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: hsl(0, 0%, 95%); /* White */
  --module-color: hsl(0, 0%, 100%);   /* Soft light blue for modules */
  --text-color: hsl(210, 15%, 20%);     /* Dark blue for text */
  --button-color: hsl(210, 75%, 50%);
  --default-black: hsl(0, 0%, 0%);     /* Dark blue for text */
  --default-error-color: hsl(0, 100%, 50%); /* Dark blue for text */


  --header-background-color: hsl(216, 71%, 81%); /* Light pastel blue */
  --header-text-color: hsl(220, 15%, 20%);       /* Dark blue for text */

  --h1-font-size: 3rem;   /* Font size for h1 */
  --h2-font-size: 2.25rem;/* Font size for h2 */
  --default-font-size: 1rem; /* Font size for p (default text) */


  --deafult-box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 0.2);
  --module-radius: 10px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid var(--background-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}


button:hover {
  transition: 200ms ease-in-out;
  box-shadow: var(--deafult-box-shadow);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset; /* For WebKit browsers */
}