




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Oskar Lundemo">
    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="/styles/index.css"> <!-- Global variables -->
    <script src="/js/login.js" defer></script>
    <title><%= title%></title>
</head>
<body>

<div class="wrapper">
    <header></header>

    <main class="home-card">
    </main>


    <footer></footer>
</div>

<div class="overlay"></div>
</body>
