





.app-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}


header {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.app-title, .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a {
        text-decoration: none;
        color: inherit;
        font-family: inherit;
    }
}


.home-card {
    margin: 0 8rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: transparent;

    h2 {
        margin: 0;
        margin-bottom: 0.5rem;
    }
}


.folder-controls {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.folder-create {
    svg {
        transition: var(--default-transition);
    }

    svg:hover {
        cursor: pointer;
        scale: 1.1;
    }

    button {
        display: flex;
        align-items: center;
    }
}


.folder-content {

    padding: 2rem 1rem;
    background-color: var(--card-background);
    height: 100%;
    border-radius: var(--default-radius);
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    font-family: inherit !important;
    border-collapse: collapse;
}



tbody tr th {
    font-weight: normal;
    text-align: left;
    padding: 0.5rem 0.5rem;
}


thead tr {
    text-align: left;
    border-bottom: 1px solid lightgray;
}

thead tr th {
    padding: 0.5rem 0.5rem;
}

tbody tr:nth-child(odd) {
    background-color: var(--background-color);
}


tbody tr th:last-child div {
    opacity: 0;
    transition: var(--default-transition);


    > svg {
        transition: var(--default-transition);
    }

    > :first-child:hover {
        animation: bounce 0.5s ease-in-out;
    }

    > :nth-child(2):hover {
        animation: bounce 0.5s ease-in-out;
    }

    > :last-child:hover {
        fill: red;
        animation: shake 0.5s ease-in-out;
    }
}


@keyframes bounce {
    0% {transform: translateY(3px);}
    50% {transform: translateY(-3px);}
    100% {transform: translateY(0px);}
}

@keyframes shake {
    0% {transform: rotate(5deg)}
    50% {transform: rotate(-5deg)}
    100% {transform: rotate(0deg);}
}

tbody tr {
    transition: var(--default-transition);
}

tbody tr:hover {

    th:first-child > div > svg {
        fill: var(--link-color);
    }

    cursor: pointer;
    th:last-child div {
        opacity: 1;
    }
}


.file-name-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}


thead tr th:nth-child(1) {
    width: 30%;
}

thead tr th:nth-child(2) {
    width: 20%;
}

thead tr th:nth-child(3) {
    width: 20%;
}

thead tr th:nth-child(4) {
    width: 10%;
}

thead tr th:nth-child(5) {
    width: 20%;
}

.new-file {
    display: flex;
    flex-direction: column;
}

.folder-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.folder-configure {
    align-items: flex-end;
    align-self: flex-end;
    justify-self: flex-end;
}

.pop-up-title {
    display: flex;
    justify-content: space-between;



    svg {
        transition: var(--default-transition);
    }

    svg:hover {
        fill: var(--error-color);
        cursor: pointer;
    }
}


.new-file-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;

    button {
        align-self: center;
        margin-top: 1rem;
    }
}


.drop-box {
    padding: 2rem 1rem !important;
    flex-direction: column;
    margin-top: 1rem;

    p, svg {
        opacity: 0.2;
    }
}



footer {
    p {
        text-align: center;
    }
}