


.left-info, .right-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.error-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-background);
    margin-bottom: 4rem;
    border-radius: var(--default-radius);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;

    p {
        color: var(--error-color);
        width: fit-content;
    }
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}


.login-card {
    background: var(--card-background);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;

    border-radius: var(--default-radius);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
        text-align: center;
    }
}

.add-form {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;


    button {
        padding: 1rem 2rem;
    }
}

.form-container {
    display: flex;

    > div:first-child {
        padding: 0 4rem;
        border-right: 1px solid var(--text-color);
    }

    > div:last-child {
        padding: 0 4rem;
        border-left: 1px solid var(--text-color);
    }
}


.add-form {
    display: flex;
}