:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: hsl(319, 50%, 90%);
  --color-secondary: hsl(319, 50%, 10%);
  --color-tertiary: hsl(19, 80%, 20%);
  --color-accent: hsl(259, 80%, 20%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(0, 1%, 85%);
  --color-border-box: hsl(0, 1%, 70%);
  --color-border-box-2: hsl(1, 1%, 50%);

  --default-box-shadow: 5px 2px 4px rgb(0 0 0 / 0.2);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.dark {
  --color-primary: hsl(319, 50%, 10%);
  --color-secondary: hsl(319, 50%, 90%);
  --color-tertiary: hsl(19, 80%, 80%);
  --color-accent: hsl(259, 80%, 80%);
}
