

html {
    height: 100%;
}


body {
    width: 60%;
    height: 100%;
    margin: auto;
    font-family: 'JetBrains Mono', sans-serif;

}

header {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

header h1 {
    border-bottom: 1px solid black;
}

#wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

#drawingArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin: 1%;
}


#sidepanel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2%;
}

#boxArea {
    border: 1px solid #000;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: auto;

    width: 70%;
    height: 70%;
}

#color {
    margin: auto;
}

#colorInfo {
    display: flex;
    justify-content: center;
    font-weight: 800;
}

#colorArea {
    display: flex;
    flex-direction: column;

    justify-content: flex-end !important;
}


#clearBtn {
    max-width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20%;

    background-color: whitesmoke;

    border: 0;
    border-radius: 25px;

    padding-top: 3%;
    padding-bottom: 3%;

    padding-right: 6%;
    padding-left: 6%;
}

#sizeInfo {
    text-align: center;
    font-weight: 800;
}


#boxArea > div {
    display: flex;
    flex-basis: calc(25% - 40px);
    justify-content: center;
    flex-direction: column;
}
#boxArea > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}





