
:root {
    --default-color: #a9a9a9;
    --default-grey: #f3f4f6;
    --default-white: #f9fafb;
    --default-p: #686a6c;
}

p {
    color: var(--default-p);
}


img {
    max-height: 10%;
    max-width: 10%;
}

html{
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;
}

#siteWrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 0.75fr 3fr;
    grid-template-rows: minmax(30%, auto) 1fr;

}

/*

  HEADER CODE

 */

header {
    grid-area: 1 / 2 / 1 / 2;
    display: grid;
    grid-template:repeat(2, minmax(auto, 1fr)) / minmax(70%, 2fr) minmax(30%, 1fr)
}

#currentSession {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-right: 5%;

    padding-left: 5%;
}

#currentSession img {
    min-width: 10%;
    min-height: 30%;
}

#searchBarSection {
    display: flex;
    flex-direction: row;

    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

#searchBarSection img {
    min-width: 15%;
    min-height: 15%;
}

#searchBarSection > input {
    width: 100%;
    height: 20%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 8px;

    padding: 2%;
    border: 0;

    background-color: var(--default-grey);
}


#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: 2 / 2 / 2 / 2;
}

#buttonContainer button {

    width: 25%;
    height: 25%;

    color: white;
    background-color: var(--default-color);

    border-radius: 15px;
    border: 0;

    font-size: 1rem;
}


#userGreeting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#userGreeting img {
    min-height: 50%;
    min-width: 8%;

    padding-left: 5%;
    padding-right: 5%;

}



/*

  ASIDE CODE

 */


aside {
    grid-area: 2 / 1 / 2 / 1;
    color: #ffffff;
    background-color: var(--default-color);
}

#logoSection {

    font-family: "Lora", serif;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;

    flex-direction: row;
    align-items: center;
    gap: 1rem;

    color: black;
    background-color: var(--default-color);
}


#logoSection img {
    min-width: 50px;
    min-height: 50px;
}

nav > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-left: 5%;
}

#settings {
    margin-top: 20%;
}

/*

  MAIN CODE

 */

#mainWrapper {
    display: grid;
    grid-template: minmax(70%, 2fr) / minmax(70%, 2fr) minmax(30%, 1fr);
    background-color: var(--default-grey);
}

#mainSidebar {
    display: grid;
    grid-area: 1 / 2 / 2 / 2;
}

.ongoingproject {
    background-color: var(--default-white) !important;
    border-radius: 15px;
    padding: 1% 5% 1% 5%;
    border-left: 10px solid  #facc15;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#projects {
    padding: 3%;
    display: grid;
    gap: 1.4rem;

    grid-template-rows: repeat(3, minmax(40%, 60%));
    grid-template-columns: repeat(2, minmax(10%, 2fr));
}


#announcements, #trending {
    margin-top: 1.4rem;
    background-color: var(--default-white);
    border-radius: 15px;
    padding: 1% 5% 1% 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#announcements div:not(:nth-child(3)):not(:nth-child(3)) {
    border-bottom: 2px solid black;
}


#userContainer {
    display:grid;

    grid-template:repeat(4, minmax(auto, 1fr)) / minmax(30%, 2fr) minmax(70%, 1fr);
}

.iconsection {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    gap: 0.5em;
}



#user1 {
    grid-area: 1 / 2 / 2 / 2;
}

#user2 {
    grid-area: 2 / 2 / 2 / 2;
}

#user3 {
    grid-area: 3 / 2 / 3 / 3;
}

#user4 {
    grid-area: 4 / 2 / 4 / 4;
}

#icon1 {
    grid-area: 1 / 1 / 1 / 1;
}

#icon2 {
    grid-area: 2 / 1 / 2 / 1;
}

#icon3 {
    grid-area: 3 / 1 / 3 / 1;
}

#icon4 {
    grid-area: 4 / 1 / 4 / 1;
}

#icon1, #icon2, #icon3, #icon4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#userContainer img {
    min-width: 40% !important;
    min-height: 40% !important;
}