


.downArrow {
    transform: rotate(-180deg);
    transition: transform ease-in-out 0.4s;
}


#education {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dropdown-div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;

}

#education ul {
    list-style: none;
    width: 100%;

}

#education > ul > li:first-child {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;

}

#education > svg {
    flex-shrink: 0;
}

.dropdown-btn {
    text-align: left;
    background: none;
    width: 100%;

}

#education .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    width: 100%;

    > div {
        overflow: hidden;
    }
}

#education .sub-menu.show {
    grid-template-rows: 1fr;
}

