



<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>


<%- include('./partials/nav.ejs')%>




<div class="error-container">
    <h2>Error</h2>


    <p>The page you're looking for doesn't exist.</p>
</div>


<%- include('./partials/footer.ejs')%>

</body>
</html>