


<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>


<%- include('./partials/nav.ejs')%>



<div class="blogs-container">
    <h2>All blogs</h2>

    <div class="blog-grid">


        <%- JSON.stringify(blogs) %>

    </div>
</div>


<%- include('./partials/footer.ejs')%>


</body>
</html>