

:root {
    --background-color: #FAFAFA;
    --light-gray: #d3d3d3;
}


html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);

    display: grid;
    grid-template-columns: 2fr 0.1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
}

.hidden {
    opacity: 0;
}

header {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.swipeRight {
    animation: swipeRight 2s ease-in-out 1;
}

header h1 {
    font-size: 4em;
    margin: 0;
}

header p {
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 1rem 0;

    overflow: hidden;
    white-space: nowrap;

    animation: typing 5s  1 normal;
}

input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.searchBar {
    border: none;
    border-bottom: 2px solid var(--light-gray);
    background-color: transparent;
    margin-left: 20px;
    font-size: 1.3rem;
}

.searchContainer {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border: 2px solid var(--light-gray);
    border-radius: 50px;
    overflow: hidden;
}

input:focus {
    outline: none;
}

.btn {
    height: 2rem;
    padding: 0 1rem;
    background: linear-gradient(45deg, #4d9ee7, #6a0dad);

    color: white;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;

}

.btn:hover {
    background-size: 200% 200%;
    animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


@keyframes swipeRight {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%); /* Start at the center */
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) translateX(100vw); /* Move to the right off-screen */
    }
}

@keyframes typing {
    0% {width: 0}
    100% {width: 100%;}
}
