

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




:root {
    --color-primary: hsl(216, 50%, 90%);
    --color-secondary: hsl(216, 50%, 10%);
    --color-tertiary: hsl(276, 80%, 20%);
    --color-accent: hsl(156, 80%, 20%);
    --color-white: hsl(0, 60%, 98%);
}

.dark {
    --color-primary: hsl(216, 50%, 10%);
    --color-secondary: hsl(216, 50%, 90%);
    --color-tertiary: hsl(276, 80%, 80%);
    --color-accent: hsl(156, 80%, 80%);
}


html {
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3 {
    font-family: 'Playfair Display', sans-serif;
    color: var(--color-secondary);
}

body {
    display:flex;
    flex-direction: column;
    background-color: var(--color-white);
    height: 100%;
    justify-content: space-between;
    margin: 0;
    gap: 2rem;
}

body > * {
    padding: 0 5rem 0 5rem;
}



.header-portrait img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile-name {
    position: absolute;
    transform: translateY(-400%);
    color: var(--color-primary)
}

.skewed-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: var(--color-primary);
    transform: skewY(-10deg);
    transform-origin: top left;
    z-index: -1; /* Place it behind the content */
}



header {
    display: flex;
    flex-direction: row;
    padding: 3rem;
}

.header-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header-textarea-container {
    background-color: var(--color-white);
    margin: 1rem 0 1rem 0;
    padding: 1rem;
}

.header-icon-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

.header-icon-section img {
    object-fit: cover;
    width: 5%;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    height: 100%;
    width: 100%;
    flex-grow: 1;

    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
}

.text-section-article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #616161;
}

.text-section-title {
    display: flex;
    justify-content: space-between;
}

.icon-section-article {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.icon-section-article img {
    width: 10%;
    object-fit: contain;
}


.image-section-article {
    background-color: #5a7ca6;

    color: var(--color-white);
    font-family: "Playfair Display", sans-serif;
    display: flex;

    justify-content: center;
    align-items: center;

    height: 200px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
}

.footer-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-contact-container {
    padding: 1rem;
}


