

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




:root {
    --color-primary: hsl(216, 50%, 90%);
    --color-secondary: hsl(216, 50%, 10%);
    --color-tertiary: hsl(276, 80%, 20%);
    --color-accent: hsl(156, 80%, 20%);
    --color-white: hsl(0, 60%, 98%);
}

.dark {
    --color-primary: hsl(216, 50%, 10%);
    --color-secondary: hsl(216, 50%, 90%);
    --color-tertiary: hsl(276, 80%, 80%);
    --color-accent: hsl(156, 80%, 80%);
}

p {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3 {
    font-family: 'Playfair Display', sans-serif;
    color: var(--color-secondary);
}

body {
    display:flex;
    flex-direction: column;
    background-color: var(--color-white);
}

body > * {
    padding: 0 5rem 0 5rem;
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
}

header img {
    width: 50%;
    object-fit: cover;
}

.header-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-textarea-container {
    height: 80%;
    background-color: var(--color-white);
}

.header-icon-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

.header-icon-section img {
    object-fit: cover;
    width: 10%;
}

section {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    background-color: #1E3A8A;
}


article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
}


.text-section-article img {
    width: 10%;
    height: 10%;
    object-fit: cover;
}

.text-section-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}









footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
}

.footer-image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


