


.search-results {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
}



.instrument {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.instrument-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    > div {
        display: flex;
    }

    > div:first-child {
        gap: 0.5rem;

        h2:last-child {
            color: lightgray;
        }
    }

    > div:last-child {
        gap: 0.5rem;


        > svg:first-child {
            transition: 200ms ease-in-out;
        }

        > svg:first-child:hover {
            animation: hover 500ms 1;
            cursor: pointer;
        }


        >svg:last-child {
            transition: 200ms ease-in-out;
        }

        >svg:last-child:hover {
            fill: red;
            cursor: pointer;
            animation: shake 500ms 1;
        }
    }
}

.instrument-info {
    display: flex;
    gap: 2rem;

    span {
        font-weight: bold;
    }
}

@keyframes shake {
    0% { transform: rotate(0); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: translateY(0); }
}

@keyframes hover {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    75% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}