


.sidebar {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    left: 0;
    position: fixed;
    margin-left: 2rem;

    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    padding: 1rem 2rem;
    border-radius: 10px;
}



.sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    padding: 0;
    margin: 0;

    > div {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        label {
            color: var(--color-secondary);
        }

        li {
            padding: 1rem;
            cursor: pointer;
            display: flex;
            justify-content: space-around;
        }
    }
}

.sub-menu.show {
    grid-template-rows: 1fr;
}


.drop-down-item {
    border-bottom: 1px solid black;
    cursor: pointer;
    h2 {
        margin: 0;
    }
}


.arrow {
    transform: rotate(-180deg);
    transition: transform 400ms ease-in-out;
    z-index: -1;
}

.arrow.rotate {
    transform: rotate(0deg);
}

.drop-down-header {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;

    h2 {
        font-weight: 400;
    }
}