

<header>

    <div class="header-text">
        <h1>Axe Archive</h1>
        <h2><%=subheader %></h2>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add instrument</a></li>
        </ul>
    </nav>
</header>