



<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Axe Archive</title>
</head>

<body>
<div class ='app-wrapper'>
    <%- include('partials/navbar')%>

    <section class="app-content">
        <%- include('partials/results'), {values: values}%>
    </section>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('.add-form');
            const overlay = document.querySelector('.overlay');
            const addBtn = document.querySelector('.add');

            addBtn.addEventListener('click', (e) =>  {
                form.classList.add('show');
                overlay.classList.add('show');

                overlay.addEventListener('click', (e) =>  {
                    form.classList.remove('show');
                    overlay.classList.remove('show');
                })
            })
        })
    </script>


    <div class="add">
        <svg class="plus" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
    </div>


    <%- include('partials/addForm')%>


    <%- include('partials/footer')%>


    <div class="overlay"></div>
</div>
</body>



</html>