

.color-picker {

    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-items: flex-start;

    h2 {
        border-bottom: 1px solid var(--module-border-bottom);
        margin: 0;
    }

    > div {

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        input {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}