:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --default-box-shadow: box-shadow 2px 5px 0px rgb(204, 202, 202);


  --color-primary: hsl(0, 0%, 15%);
  --color-secondary: hsl(0, 70%, 30%);
  --color-tertiary: hsl(310, 80%, 80%);
  --color-accent: hsl(190, 80%, 80%);
  --color-white: hsl(0, 0%, 100%);
}



